{% extends "base.html" %}

{% block content %}

<div class="">
    <div class="card border-0 rounded-0 shadow">
      <div class="p-5">
        <div class="d-flex gap-5">
          <div>
            <img style="width:700px; height:500px; object-fit: contain;" src="{{car.image.url}}" alt="Car Image">
          </div>
          <div class="ps-3 mt-5">
            <h2 class="card-title">{{car.title}}</h2>
            <h4>Price : ${{car.price}}</h4>
            <h5>Brand : {{car.brand.name}}</h5>
            <p class="card-text mt-3"><b>Details :</b> {{car.description}}</p>
            {% if user.is_authenticated %}
            <a href="{% url "car_details" car.id %}" class="btn btn-dark px-5">Buy Now</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}